.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: rgb(215, 231, 211);
}
.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: rgb(88, 140, 230);
    text-align: center;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 14% ;
    padding: 20px 0;

}

.new_event_form {
    text-align: center;
}

h1.month_title {
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
    background-color: darkgrey;
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}